<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="shared-styles.html">
<dom-module id="my-ricardo-micomponente">
  <template>
    <style>
      :host {
        display: inline-block;
        background-color: pink;
      }
    </style>

    <div><span>Mi primer componente Polymer</span></div>
    <div><span>[[saludo]]</span></div>
    <div><span>[[contador]]</span></div>

    <template is="dom-repeat" items="[[listado]]">
      <div>
        <h2>{{item.titulo}}</h2>
        <h3>{{item.texto}}</h3>
      </div>
    </template>
  </template>
  <script>
   Polymer({
     is: 'my-ricardo-micomponente',
     properties: {
       saludo: String,
       contador: Number,
       listado: {
         type: Array,
         notify: true
       }
     },
     listeners: {
       'tap': 'incrementar'
     },
     incrementar: function (){
       this.contador = this.contador + 1;
       this.listado.push(this.contador);
       this.notifyPath('listado');
     }
//     leer: function() {
  //   const URL = "https://api.mlab.com/api/1/databases/bootcamp/collections/posts?apiKey=50c5ea68e4b0a97d668bc84a";
//   }
 }
 )
  </script>
</dom-module>
