<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="shared-styles.html">
<dom-module id="my-ricardo-micomponente">
  <template>
    <style>
      :host {
        display: inline-block;
        background-color: pink;
      }
    </style>

    <div><span>Mi primer componente Polymer !</span></div>
    <div><span>[[saludo]]</span></div>
    <div><span>[[contador]]</span></div>
    <button type="button" name="button" on-click="leer">LEER</button>
 <input type="TITULO" name="tituloe" value="">
 <input type="TEXTO" name="textoe" value="">
    <button type="button" name="button" on-click="insertar">INSERTAR</button>
    <template is="dom-repeat" items="[[listado]]">
      <div>
        <h2>{{item.titulo}}</h2>
        <h3>{{item.texto}}</h3>
      </div>
    </template>
  </template>
  <script>
   Polymer({
     is: 'my-ricardo-micomponente',
     properties: {
       saludo: String,
       contador: Number,
       listado: {
         type: Array,
         notify: true
       }
     },
//     listeners: {
    //   'tap': 'incrementar'
  //   },
//     incrementar: function() {
    //   this.contador = this.contador + 1;
  //     this.listado.push(this.contador);
//       this.notifyPath('listado');
//     },

     leer: function() {
  //    const URL = "https://api.mlab.com/api/1/databases/bootcamp/collections/posts?apiKey=50c5ea68e4b0a97d668bc84a";
  const URL = "https://api.mlab.com/api/1/databases/ricardo/collections/posts?apiKey=g6VpUkYz5yXk8CoSjb6g3d8er3vdugQi";
// https://api.mlab.com/api/1/databases?apiKey=g6VpUkYz5yXk8CoSjb6g3d8er3vdugQi
      var peticion = new XMLHttpRequest();


      peticion.open("GET", URL, false);
      peticion.setRequestHeader("Content-Type", "application/json");
      peticion.send();
      response = JSON.parse(peticion.responseText);
      this.listado=response;
      sessionStorage["listado"]=peticion.responseText;
      console.log("he leido - response--> "+response);
      console.log("he leido - peticion.responseText--> "+peticion.responseText);
    },
    insertar: function () {
      const URL = "https://api.mlab.com/api/1/databases/ricardo/collections/posts?apiKey=g6VpUkYz5yXk8CoSjb6g3d8er3vdugQi";
      var tituloi=document.getElementsByName("tituloe")[0].value;
      var textoi=document.getElementsByName("textoe")[0].value;

      var peticion = new XMLHttpRequest();
      peticion.open("POST", URL, false);
      peticion.setRequestHeader("Content-Type", "application/json");
      peticion.send('{"titulo":"'+tituloi+'","texto":"'+textoi +'"}}');
      console.log("he escrito - response--> "+response);
    //  var response=JSON.parse(peticion.responseText);

    }
      }
      )
  </script>
</dom-module>
